/*
  # Device=Most of the Smartphones Mobiles (Portrait) & Screen=B/w 320px to 479px
  # Device=Low Resolution Tablets, Mobiles (Landscape) & Screen=B/w 481px to 767px
  # Device=Tablets, Ipads (landscape) & Screen=B/w 768px to 1024px
  # Device=Tablets, Ipads (portrait) & Screen=B/w 768px to 1024px
  # Device=Laptops, Desktops & Screen=B/w 1025px to 1280px
  # Device=Desktops & Screen=1281px to higher resolution desktops
  
		$breakpoint options
  phone, phone-land, tab, tab-land, desktop, big-desktop
*/

@font-face {
  font-family: "Gotham-rounded-bold-italic";
  src: url("fonts/gotham-rounded-bold-italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/gotham-rounded-bold-italic.otf") format("opentype"),
    url("fonts/gotham-rounded-bold-italic.woff") format("woff"),
    url("fonts/gotham-rounded-bold-italic.ttf") format("truetype"),
    url("fonts/gotham-rounded-bold-italic.svg#Gotham-rounded-bold-italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-rounded-bold";
  src: url("fonts/gotham-rounded-bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/gotham-rounded-bold.otf") format("opentype"),
    url("fonts/gotham-rounded-bold.woff") format("woff"),
    url("fonts/gotham-rounded-bold.ttf") format("truetype"),
    url("fonts/gotham-rounded-bold.svg#Gotham-rounded-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-rounded-book";
  src: url("fonts/gotham-rounded-book.eot?#iefix") format("embedded-opentype"),
    url("fonts/gotham-rounded-book.otf") format("opentype"),
    url("fonts/gotham-rounded-book.woff") format("woff"),
    url("fonts/gotham-rounded-book.ttf") format("truetype"),
    url("fonts/gotham-rounded-book.svg#Gotham-rounded-book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-rounded-light-italic";
  src: url("fonts/gotham-rounded-light-italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/gotham-rounded-light-italic.otf") format("opentype"),
    url("fonts/gotham-rounded-light-italic.woff") format("woff"),
    url("fonts/gotham-rounded-light-italic.ttf") format("truetype"),
    url("fonts/gotham-rounded-light-italic.svg#Gotham-rounded-light-italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-rounded-light";
  src: url("fonts/gotham-rounded-light.eot?#iefix") format("embedded-opentype"),
    url("fonts/gotham-rounded-light.otf") format("opentype"),
    url("fonts/gotham-rounded-light.woff") format("woff"),
    url("fonts/gotham-rounded-light.ttf") format("truetype"),
    url("fonts/gotham-rounded-light.svg#Gotham-rounded-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-rounded-medium-italic";
  src: url("fonts/gotham-rounded-medium-italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/gotham-rounded-medium-italic.otf") format("opentype"),
    url("fonts/gotham-rounded-medium-italic.woff") format("woff"),
    url("fonts/gotham-rounded-medium-italic.ttf") format("truetype"),
    url("fonts/gotham-rounded-medium-italic.svg#Gotham-rounded-medium-italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-rounded-medium";
  src: url("fonts/gotham-rounded-medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/gotham-rounded-medium.otf") format("opentype"),
    url("fonts/gotham-rounded-medium.woff") format("woff"),
    url("fonts/gotham-rounded-medium.ttf") format("truetype"),
    url("fonts/gotham-rounded-medium.svg#Gotham-rounded-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}
body {
  font-family: Gotham-rounded-book;
  scroll-behavior: smooth;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  background: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  header {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: auto;
  }
}
header .navbar {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar .navbar-toggler {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .navbar .navbar-toggler {
    display: none;
  }
}
header .navbar .navbar-brand {
  margin-right: 5rem;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar .navbar-brand {
    width: 20rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .navbar .navbar-brand {
    width: 25rem;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  header .navbar .navbar-brand {
    margin-top: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header.money-uncle-header .navbar {
    padding: 1.5rem 0;
  }
}
header.money-uncle-header .navbar .navbar-toggler {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .navbar .navbar-toggler {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .navbar-brand {
    margin-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .navbar-nav {
    padding-top: 1rem;
  }
}
header.money-uncle-header .navbar-nav .nav-item {
  background: #ffffff;
  border: 2px solid #f7f7f7;
  border-radius: 40px;
  margin-right: 1rem;
  color: #333333;
}
header.money-uncle-header .navbar-nav .nav-item-2 {
  background: #3db76d;
  border: 2px solid #3db76d;
  box-sizing: border-box;
  border-radius: 40px;
}
header.money-uncle-header .navbar-nav .nav-item-2 a {
  color: #fff !important;
}
.navbar-brand img {
  max-height: 62px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header.money-uncle-header .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .navbar-nav .nav-item {
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
}
header.money-uncle-header .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 350;
  line-height: 19px;
  color: #333333 !important;
  padding: 10px 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header.money-uncle-header .navbar-nav .nav-link {
    padding: 1.3rem 1.2rem;
  }
}

header.money-uncle-header .nav-item--img {
  color: #3db76d;
  border: 1px solid #dfe6ed;
  border-radius: 29px;
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .nav-item--img {
    position: absolute;
    right: 55px;
    top: 50%;
    margin-top: -22px;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  header.money-uncle-header .nav-item--img {
    right: 45px;
  }
}

header.money-uncle-header .nav-link--img {
  padding: 0 2.1rem 0 1.4rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #4bc87f;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header.money-uncle-header .nav-link--img {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .nav-link--img {
    display: none;
  }
}

header.money-uncle-header .nav-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.money-uncle-header .nav-img .profile {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #f2f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header.money-uncle-header .nav-img .profile {
    width: 42px;
    height: 42px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header.money-uncle-header .nav-img .profile {
    width: 42px;
    height: 42px;
  }
}
.money-uncle-home .section-home {
  padding: 10rem 0 5rem 0;
}
.money-uncle-home .section-home .home__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .money-uncle-home .section-home .home__wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .sec-01-1 .hidden-xs {
    display: none;
  }
}
@media (min-width: 767px) {
  .sec-01-1 .show-xs {
    display: none;
  }
}
.money-uncle-home .sec-01-1 .sec-01-1-title {
  font-family: "Gotham-rounded-medium";
  font-size: 42px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #000000;
}
.sec-01-2-img img {
  width: auto;
  max-height: 449px;
}
.money-uncle-home .sec-01-1 .sec-01-1-desc {
  font-family: "Gotham-rounded-light";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  opacity: 0.5;
}
.sec-01-1-logo {
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  padding-top: 50px;
}
.sec-01-1-logo .work__imgBox {
  padding-right: 20px;
}
.sec-01-line {
  position: absolute;
  width: 100%;
  height: 10px;
  background: #ffc107;
  border-radius: 10px;
  bottom: -13px;
  left: 0;
}
.money-uncle-home .section-2 {
  background: #f4f7fa;
}
.section-2-bg {
  background: #f4f7fa;
}
.section-2 .section-2-title,
.sec-04-title {
  font-family: "Gotham-rounded-medium";
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #000000;
  padding-top: 100px;
}
.section-2 .sec-2-tabs {
  display: flex;
  margin-top: 50px;
}
.section-2 .sec-2-tabs button {
  font-family: "Gotham-rounded-light";
  font-size: 18px;
  font-weight: bold;
  width: 383px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 79px;
  border: none;
  margin-right: 10px;
}
.section-2 .sec-2-tabs button:focus {
  outline: none;
}
.section-2 .sec-2-tabs .active,
.section-2 .sec-2-tabs .active:hover {
  background: #ffc107;
}
.sec-02-1 {
  margin-top: 30px;
  padding: 0 20px;
}
.sec-02-1 img {
  width: 100%;
  height: 300px;
}
.sec-02-title {
  font-family: "Gotham-rounded-light";
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  min-height: 86px;
}
.sec-02-2s {
  min-height: 129px !important;
}
.sec-02-desc {
  font-family: "Gotham-rounded-light";
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin-bottom: 100px;
  opacity: 0.5;
}
.section-3 {
  background: linear-gradient(
      253.59deg,
      rgba(198, 248, 255, 0.2) 0.26%,
      rgba(130, 154, 238, 0) 99.14%
    ),
    linear-gradient(
      106.15deg,
      #e8f5ff -0.18%,
      rgba(195, 202, 208, 0.29) 48.87%,
      rgba(185, 207, 225, 0.35) 99.22%
    );
}
.sec-03-1 {
  display: flex;
  flex-direction: row;
}
.sec-03-2 {
  margin-bottom: auto;
  margin-top: auto;
}
@media (max-width: 767px) {
  .sec-03-1 {
    flex-direction: column !important;
  }
}
.sec-03-1-img img {
  max-width: 573px;
}

.sec-03-2-title {
  font-family: "Gotham-rounded-medium";
  font-size: 60px;
  text-align: center;
}
.sec-03-desc {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  font-weight: normal;
  color: #454545;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
.sec-03-p {
  font-family: "Gotham-rounded-medium";
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: normal;
  color: #000000;
}
.section-4 p {
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  padding: 30px 0 50px 0;
  color: #454545;
}
.sec-4-item-des {
  width: 45%;
}
.sec-4-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 5rem 0 5rem;
}
.sec-4-item-des-text-item,
.sec-6-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.sec-4-item-des-title {
  font-family: "Gotham-rounded-medium";
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.02em;
  padding: 30px 0;
}
.sec-4-item-des-text-item img {
  width: 14px;
  height: 14px;
  margin-bottom: auto;
  margin-top: 0.2rem;
}
.sec-4-item-des-text-item-pt,
.sec-6-item-pt {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  padding-left: 10px;
}
.sec-4-item img {
  max-width: 458px;
}
.section-5 {
  margin-top: 50px;
}
.section-5 .download-subFooter {
  background: linear-gradient(0deg, #4090d0, #4090d0);
  padding: 2rem 0;
  text-align: center;
  position: relative;
}
.section-5 .download-subFooter h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-bottom: 18px;
}
.section-5 .download__box img {
  max-height: 80px;
  padding-right: 12px;
}
.section-6 {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
}
.section-6 h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
}
.section-6 h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #3db76d;
  padding: 10px 0;
  width: 45%;
}
.section-6 button {
  height: 60px;
  width: 45%;
  background: #3db76d;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #0000001a;
  color: white;
  border: none;
  margin: 30px 0;
}
.section-6 img {
  max-height: 320px;
}
.sec-6-item img {
  height: 12px;
  width: 12px;
}
footer .footer-area1 {
  position: relative;
  background-color: #1d1d1d;
  padding: 1.5rem 0;
}
footer .footer-area2,
footer .footer-area3 {
  position: relative;
  background: #000000;
  padding: 1.5rem 0;
}
footer .footer-area2 {
  border-bottom: 1px solid #8c8c8c5e;
}
footer .footer-widget,
footer .footer-widget-ct {
  letter-spacing: -0.02em;
  color: #6e6e6e;
  font-size: 12px;
  line-height: 140%;
}
.footer-widget-ct {
  text-align: center;
}
footer .footer-area1 .footer-widget .col1 .footer-logo a span {
  color: #ffffff;
  display: inline-block;
}
footer .footer-logo {
  font-weight: 350;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 20px;
}
footer .footer-nav a,
footer .footer-nav p {
  font-weight: 300;
  line-height: 180%;
  color: #fff;
  font-size: 14px;
  opacity: 0.8;
  margin-top: -1px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
}
footer .ft-item {
  display: flex;
  justify-content: left;
}
.ft-item img {
  height: 18px;
  padding-right: 10px;
}
.ft-s-icon {
  padding-bottom: 10px;
}
.footer-area1 .container {
  max-width: 1083px;
}
.mob-xs {
  display: none;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .mob-xs {
    display: block !important;
  }
  .section-6,
  .sec-03-1 {
    flex-direction: column;
  }
  .sec-4-item-des {
    width: 100% !important;
    padding-bottom: 2rem;
  }
  .sec-4-item {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2.5rem;
    background: #f1f1f1;
    box-shadow: 0px 1px 0px #d9e3ee;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-bottom: 5rem;
  }
  .sec-03-1-img img {
    max-width: 100%;
    height: auto;
  }
  .sec-03-2-title {
    padding-top: 0 !important;
  }
  .sec-01-2-img img {
    padding-top: 50px;
  }
  footer .footer-widget,
  footer .footer-widget-ct,
  .sec-6-content {
    padding-left: 20px;
  }
  .footer-item {
    padding-top: 30px;
  }
  .footer-area1 .col-xs-6 {
    width: 50%;
  }
  .footer-social {
    margin-left: 0 !important;
  }

  footer .footer-social .ft-item {
    justify-content: center !important;
  }
  .footer-area1 .mob-footer,
  .footer-connect {
    text-align: center;
  }
}
.footer-social {
  margin-left: 6rem;
}
