.notification {
  label {
    margin: 0;
  }



  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-size: $font-size-18;
    line-height: 2.1rem;
    color: $color-black;
    margin-bottom: $font-size-30;
  }

  &__wrapper {
    padding: 2rem;
    background: $color-white;
    box-shadow: 0px 1px 0px #D9E3EE;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  &__info {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: $color-black;
    font-weight: bold;
  }

  &__mediums {
    display: flex;
  }

  &__medium {
    &:not(:last-child) {
      margin-right: 2rem;
    }

    &-label {
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #88919A;
      text-transform: capitalize;
      padding: 1.5rem 0 1rem;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F9FBFD;
    border: 1px solid $color-grey-light-3;
    border-radius: 4px;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 24px;
    left: 2px;
    bottom: 2.2px;
    background-color: $color-primary;
    border-radius: 2px;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #F9FBFD;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #F9FBFD;
  }

  input:checked+.slider:before {
    transform: translateX(23px);
  }
}