.subscription {
  margin-bottom: 3rem;

  &__subtitle {
    font-size: 2rem;
    line-height: 2.34rem;
    color: $color-grey-dark-1;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .select-box-container {
    label {
      margin-bottom: 1rem;
      display: block;
      color: #397EB8;
      font-weight: bold;
    }
  }

  .idea__wrapper {
    background: $color-white;
    box-shadow: 0px 1px 0px #D9E3EE;
    border-radius: 10px;

    .idea__advisor {
      border-bottom: 0;
      padding-bottom: 0;
    }

    .channelBox {
      padding: 0 1.6rem;
      border-bottom: 1px solid #F1F7FD;
    }

    .idea__benefits {
      padding-bottom: 2rem;
    }
  }

  .datesInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.6rem 0 1.6rem;

    h6 {
      color: $color-primary;
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: bold;
    }

    span {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .red-btn {
      padding: 1rem 2rem;
    }
  }
}

.orders-billings .subscription {
  .select-box-container {
    margin-bottom: 1rem;
  }
}