// COLOR VARIABLES
$color-primary: #397EB8;
$color-primary-advisor: #3DB76D;
$color-blue-dark-1: #367AB6;
$color-grey-dark-1: #333333;
$color-grey-dark-2: #3E4751;
$color-grey-dark-3: #647A8D;
$color-grey-light-1: #88919A;
$color-grey-light-2: #DEE1E6;
$color-grey-light-3: #DFE6ED;
$color-grey-light-4: #7b7979;
$color-grey-light-5: #F2F6FA;
$color-grey-light-6: #F2F2F2;
$color-grey-light-7: #EDF3F9;
$color-grey-light-8: #E5E5E5;
$color-yellow-dark: #FFC107;
$color-yellow-light-1: #FFE699;
$color-yellow-light-2: #FFEFB6;
$color-orange: #F2994A;
$color-red-dark-1: #F35F5F;
$color-red-dark-2: #DC6464;
$color-red-light-1: #FFE8E8;
$color-red-light-2: #FFFBFB;
$color-green: #4BC87F;
$color-green-light-1: #DFF2E7;
$color-green-light-2: #FAFFFC;
$color-black: #000000;
$color-black-1: #1d1d1d;
$color-white: #ffffff;
$color-white-light-1: #FFF9F9;
$color-blue-light-1: #68C9FF;
$color-blue-light-2: #F3F8FE;

// FONT VARIABLES
$font-GothamBook: 'GothamBook';
$font-GothamMedium: 'GothamMedium';
$font-GothamBook-rounded: 'GothamBook';
$font-GothamBook-rounded-medium: 'GothamRounded-Medium';
$font-GothamBook-rounded-bold: 'GothamRounded-Bold';
$font-GothamBook-rounded-bookItalic: 'GothamRounded-BookItalic';

$font-roboto: 'Roboto',
sans-serif;

// FONT SIZES
$default-font-size:1.6rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-30: 3rem;
$font-size-50: 5rem;